<!doctype html>
<html>
  <head>
    <title> The Thirsty Student</title>
  </head>
  <body>
    <form action="/search_result" method="GET">
      Item:<input id="search_text" type="text" name="search_text">
      Category:<input id="category" type="text" name="category">
      <input type="submit" value="OK" >
    </form>
    <h1>Welcome to The Thirsty Student Shop</h1>
    <h2>Search Page</h2>
    </body>
</html>
